name: Build PDF Tool APK
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 清理空间，因为Kivy打包很占地
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      # 开始打包
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action-v1@v3
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      # 上传 APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pdf-tool-apk
          path: bin/*.apk
